.header-bar {
    -fx-background-color: linear-gradient(to right, #0d47a1, #00bcd4);
    -fx-padding: 10;
    -fx-spacing: 15;
    -fx-alignment: center-left;
}

.image-icon {
    -fx-fit-width: 24;
    -fx-fit-height: 24;
}

.search-box {
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-padding: 4 8 4 8;  
    -fx-spacing: 6;
    -fx-alignment: center-left;
    -fx-border-color: lightgray;
    -fx-border-radius: 30;
    -fx-pref-width: 480;
}

#searchField {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 30;
    -fx-border-color: transparent;
    -fx-font-size: 14px;
    -fx-pref-width: 400;
    -fx-prompt-text-fill: #aaa;
}

.search-icon {
    -fx-fit-width: 18;
    -fx-fit-height: 18;
}
.separator {
    -fx-background-color: transparent;
    -fx-padding: 10 0 10 0;
}

.separator .line {
    -fx-border-color: black;
    -fx-border-width: 0 0 1 0; /* chỉ kẻ dưới */
}

.checkbox {
    -fx-padding: 10 0 0 0;  /* top right bottom left */
}

.cart-button {
    -fx-background-color: #00b894;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}
.cart-button:hover {
    -fx-background-color: #019875;
}


.footer {
    -fx-background-color: linear-gradient(to right, #0d47a1, #00bcd4);
}

