.main-background {
    -fx-background-color: linear-gradient(to right, #4ED8E5, #004AAD);
    -fx-padding: 30px;
}

.register-card {
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 0);
}

.return{
    -fx-underline:false;
    -fx-focus-color: transparent;
}
.return:hover{
    -fx-text-fill: #0066cc;
}

.register-title {
    -fx-font-size: 32;
    -fx-font-weight: bold;
    -fx-padding: 10 0 20 0;
}

.input-field {
    -fx-background-color: #e6f2f2;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
    -fx-font-size: 14px;
}
.input-field:focused {
    -fx-background-color: #d1eaea;
    -fx-border-color: #40e0d0;
    -fx-border-radius: 10px;
}

.terms-checkbox {
    -fx-padding: 5;
    -fx-font-size: 10px;
    -fx-text-fill: #333;
}

.terms-checkbox .box {
    -fx-border-color: #e6f2f2;
    -fx-border-width: 2px;
    -fx-background-radius: 3px;
}
.terms-checkbox:selected .box {
    -fx-background-color: #d1eaea;
}

.terms-text {
    -fx-font-size: 12;
}

.terms-link {
    -fx-font-size: 12;
    -fx-text-fill: #004AAD;
    -fx-underline: true;
    -fx-padding: 0;
}

.signup-button {
    -fx-background-color: linear-gradient(to right, #0066cc, #40e0d0);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

.signup-button:hover {
   -fx-background-color: linear-gradient(to right, #0055b3, #33d6c6);
}

.error-label {
    -fx-text-fill: #e74c3c;
    -fx-font-size: 12px;
    -fx-padding: 5px 0 0 5px;
}

.error-border {
    -fx-border-color: #e74c3c;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
}

.success-message {
    -fx-text-fill: #2ecc71;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10px 0;
}